<footer class="footer" id="footer">
    <div class="footer__block block no-margin-bottom">
        <div class="container-fluid text-center">
            <p class="no-margin-bottom">Copyright &copy; 2019.地理信息科学1701班第 4 小组 All rights reserved.</p>
        </div>
    </div>
</footer>
</div>
</div>
<!-- 引用的JavaScript代码 -->
<script src="../public/vendor/jquery/jquery.min.js"></script>
<script src="../public/vendor/popper.js/umd/popper.min.js"></script>
<script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/vendor/jquery.cookie/jquery.cookie.js"></script>
<script src="../public/vendor/chart.js/Ch0art.min.js"></script>
<script src="../public/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="../public/javascripts/front.js"></script>
<script src="../public/javascripts/resize.js"></script>
<script src="../public/javascripts/mapDivresize.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/javascripts/bootstrap-table-export.js"></script>
</body>
</html>