<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="../public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/font.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="../public/stylesheets/style.default.css" id="theme-stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- 添加leaflet.js的引用-->
    <link rel="stylesheet" href="../public/vendor/leaflet/leaflet.css">
    <script src="../public/vendor/leaflet/leaflet.js"></script>
    <!-- 地图底图切换脚本 -->
    <script src="../public/javascripts/leaflet.ChineseTmsProviders.js"></script>
    <!-- 添加自定义底图使用脚本 -->
    <script src="../public/javascripts/leafletMAP.js"></script>
</head>
<body onload="init()">
<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
            <div class="search-inner d-flex align-items-center justify-content-center">
                <div class="close-btn">Close <i class="fa fa-close"></i></div>
                <form id="searchForm" action="#">
                    <div class="form-group">
                        <input type="search" name="search" placeholder="What are you searching for...">
                        <button type="submit" class="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="navbar-header">
                <!-- Navbar Header-->
                <a href="index.ejs" class="navbar-brand">
                    <div class="brand-text brand-big visible text-uppercase"><strong
                                class="text-primary">Volunteer&nbsp;</strong><strong>Management&nbsp;</strong><strong
                                class="text-primary">Coordination&nbsp;</strong><strong>System&nbsp;</strong></div>
                    <div class="brand-text brand-sm"><strong class="text-primary">V</strong><strong>M</strong><strong
                                class="text-primary">C</strong><strong>S</strong></div>
                </a>
                <!-- Sidebar Toggle Btn-->
                <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
            </div>
            <div class="right-menu list-inline no-margin-bottom">
                <div class="list-inline-item"><a href="#" class="search-open nav-link"><i
                                class="icon-magnifying-glass-browser"></i></a></div>
                <!-- Log out               -->
                <div class="list-inline-item logout">
                    <a id="logout" href="/logout" class="nav-link"><span class="d-none d-sm-inline">Logout </span><i
                                class="icon-logout"></i></a></div>
            </div>
        </div>
    </nav>
</header>