<%- include Header_Search %>
<%- include Navbar %>
<div class="page-content" id="page-content">
    <div class="page-header no-margin-bottom" id="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Home </h2>
        </div>
    </div>
    <div class="container-fluid" id="mapDiv" style="background: #005CBF;">

    </div>
<%- include Footer %>