                        </div>
                    </div>
                </div>
            <div class="copyrights text-center">
                <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
        <!-- JavaScript files-->
        <script src="../public/vendor/jquery/jquery.min.js"></script>
        <script src="../public/vendor/popper.js/umd/popper.min.js"></script>
        <script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../public/vendor/jquery.cookie/jquery.cookie.js"></script>
        <script src="../public/vendor/chart.js/Chart.min.js"></script>
        <script src="../public/vendor/jquery-validation/jquery.validate.min.js"></script>
        <script src="../public/javascripts/front.js"></script>
    </body>
</html>