<div class="d-flex align-items-stretch">
    <nav id="sidebar" id="sidebar">
        <!-- 用户名、头像 -->
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="../public/images/avatar-6.jpg" alt="..." class="img-fluid rounded-circle">
            </div>
            <div class="title">
                <h1 class="h5"><%= name %></h1>
                <p>Admin</p>
            </div>
        </div>
        <!-- 左侧导航栏 -->
        <span class="heading">Main</span>
        <ul class="list-unstyled">
            <li class="active"><a href="/home"> <i class="icon-home"></i>Home </a></li>
            <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
            <li><a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>
            <li><a href="#VolunteerManagement" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>Volunteers </a>
                <ul id="VolunteerManagement" class="collapse list-unstyled ">
                    <li><a href="/volunteers">志愿者信息</a></li>
                    <li><a href="/volunteers_add">志愿者信息修改</a></li>
                    <li><a href="#">志愿者添加</a></li>
                    <li><a href="#">发送消息</a></li>
                </ul>
            </li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i
                            class="icon-windows"></i>Example
                    dropdown </a>
                <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </li>
            <li><a href="/login"> <i class="icon-logout"></i>Login page </a></li>
        </ul>
        <span class="heading">Extras</span>
        <ul class="list-unstyled">
            <li><a href="#"> <i class="icon-settings"></i>Demo </a></li>
            <li><a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
            <li><a href="#"> <i class="icon-chart"></i>Demo </a></li>
        </ul>
    </nav>